# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# macOS files
.DS_Store


# Executables
*.exe
*.out
*.app
lcfit
specfit
specphase
lcsim
test

# Data directories
chains
recon
#data
data/lc
data/spectra
shared
spectra
*.list
