# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# macOS files
.DS_Store


# Executables
*.exe
*.out
*.app
lcfit
specfit
specphase
lcsim

# Data directories
scripts
chains
recon
#data
#data/lc
#data/spectra
test_lists/
shared
spectra
sim
build
